*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: #E8EAED;
}
 
body::-webkit-scrollbar  {


    width: 10px;
    background: white;
}
body::-webkit-scrollbar-thumb { 
    background-color: #b3b3b3;
    border-radius: 5px;
}