
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.container { 
    margin-top: 70px;
}


.blogContainer {
    display: grid;
    width: 95%;
    margin:  0 auto;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    gap: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12);
    border-radius: 5px;
}
.post { 
    display: grid;
    grid-template-columns: 1fr 2fr;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.image {
    height: 240px;
}
.notes { 
    display: flex;
    margin: 5px 0;
}
@media screen and (min-width: 0) and (max-width: 709px ) {
    .blogContainer {
        display: block;
    }
    .post {
        margin: 10px 0;
        font-size: .8em;
    }
    .image {
        width: 100%;
        height: 150px;
    }
    .notes {
        visibility: hidden;
        position: absolute;
    }
}
@media screen and (min-width: 710px ) and (max-width: 949px ) {
    .blogContainer {
        display: block;
    }
    .post {
        margin: 10px 0;
    }
    .image {
        width: 200px;
        height: 150px;
    }
    .notes {
        visibility: hidden;
        position: absolute;
    }
}
@media screen and (min-width: 950px ) and (max-width: 1400px ) {
    .blogContainer {
        display: block;
    }
    .post {
        margin: 10px 0;
    }
    .image {
        height: 240px;
    }
}
.post:hover { 
    background-color: rgb(248, 248, 248);
}
.image { 
    width: 100%;
    height: 100%;
}
.image img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 0 0 5px;
}
.description { 
    padding-left: 10px;
     
}
.description p { 
    margin: 0 20px 0 10px;
    font-family: 'Raleway', sans-serif;
    line-height: 22px;
    font-weight: 100;
}
.description h2 {
    margin: 5px 0;
    font-family: 'Raleway', sans-serif;
}

 
.queryButtons { 
    display: flex;
    justify-content: center;
    grid-area: buttons;
    padding: 20px 0;
    border: 1px solid rgb(196, 196, 196);
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    color: rgb(124, 124, 124);
    background-color: white;
    width: 90%;
    margin: 0 auto;
}

.queryButtons:hover { 
    border: 1px solid rgb(99, 99, 99);
    color: grey;
}

.loading { 
    display: flex;
    justify-content: center;
    background-color: white;

}

.newPost { 
    display: flex;
    justify-content: center;
}

.postIcons { 
    display: flex;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.postIcons i { 
    color: #1A73E8;
}

/* languages */
.languages { 
    margin: 20px 0;
}
.languagesContainer { 
    display: flex;
    font-family: 'Raleway', sans-serif;
    justify-content: center;
}
.css {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    border-right: 1px solid black;
    font-size: 1.5em;
    text-decoration: none;
    cursor: pointer;
    color: black;
}